name: github-actions
on: push

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps: 
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install uv
        run: |
          curl -LsSf https://astral.sh/uv/install.sh | sh
          echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Install
        run: make install

      - name: Build
        run: make build

      - name: Lint
        run: make lint

      - name: Run ping pong in background
        env:
          DATABASE_URL: sqlite:///:memory:
        run: bash -c "make run_backend & sleep 5 && curl -f http://localhost:8080/ping || exit 1"

      - name: Run tests
        run: make tests
