name: ping-pong
on: push

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps: 
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install
        run: make install

      - name: Build
        run: make build

      - name: Lint
        run: make lint

      - name: Run ping pong in background
        run: |
          make ping-pong &
          sleep 3  # ждём пока сервер поднимется

      - name: Run tests
        run: make tests
