name: ping-pong
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps: 
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Build
        run: make build

      - name: Lint
        run: make lint

      - name: Run ping pong on localhost
        run: make ping-pong

      - name: Run tests
        run: make tests
