name: ping-pong
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps: 
      - uses: actions/checkout@v4
      - run: make build
      - run: make lint
      - run: make ping-pong
      - run: make tests
